xacml-jaxb-model/src/main/xsd/dotml-1.4.xcaml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.martin-loetzsch.de/DOTML"
  xmlns:dotml="http://www.martin-loetzsch.de/DOTML" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>A schema for a graph representation as used by the graph drawing tool 'dot'
      (AT&amp;T Bell Laboratories, http://www.research.att.com/sw/tools/graphviz/). Please note
      that the dotml language covers only a subset of the dot language. (c) 2002 - 20010 Martin
      Loetzsch (http://martin-loetzsch.de) </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="graph">
    <xsd:annotation>
      <xsd:documentation>The root element of a 'dot' graph.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="dotml:cluster-or-graph">
          <xsd:attribute name="file-name" type="xsd:string" use="required"/>
          <xsd:attribute name="margin" type="dotml:point"/>
          <xsd:attribute name="nodesep" type="xsd:decimal"/>
          <xsd:attribute name="rankdir" type="dotml:rankdir"/>
          <xsd:attribute name="ranksep" type="xsd:decimal"/>
          <xsd:attribute name="ratio" type="dotml:ratio"/>
          <xsd:attribute name="size" type="dotml:point"/>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
    <xsd:key name="all-nodes-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:node"/>
      <xsd:field xpath="@id"/>
    </xsd:key>
    <xsd:key name="all-clusters-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:cluster"/>
      <xsd:field xpath="@id"/>
    </xsd:key>
    <xsd:keyref name="attribute-from-must-be-an-existing-node-id"
      refer="dotml:all-nodes-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:edge"/>
      <xsd:field xpath="@from"/>
    </xsd:keyref>
    <xsd:keyref name="attribute-to-must-be-an-existing-node-id"
      refer="dotml:all-nodes-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:edge"/>
      <xsd:field xpath="@to"/>
    </xsd:keyref>
    <xsd:keyref name="attribute-ltail-must-be-an-existing-cluster-id"
      refer="dotml:all-clusters-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:edge"/>
      <xsd:field xpath="@ltail"/>
    </xsd:keyref>
    <xsd:keyref name="attribute-lhead-must-be-an-existing-cluster-id"
      refer="dotml:all-clusters-have-to-have-different-ids">
      <xsd:selector xpath=".//dotml:edge"/>
      <xsd:field xpath="@lhead"/>
    </xsd:keyref>
  </xsd:element>
  <xsd:complexType name="cluster">
    <xsd:annotation>
      <xsd:documentation>A rectangular cluster of nodes.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="dotml:cluster-or-graph">
        <xsd:attribute name="color" type="dotml:color"/>
        <xsd:attribute name="fillcolor" type="dotml:color"/>
        <xsd:attribute name="id" type="dotml:id" use="required"/>
        <xsd:attribute name="labeljust" type="dotml:labeljust"/>
        <xsd:attribute name="labelloc" type="dotml:labelloc"/>
        <xsd:attribute name="style" type="dotml:clusterStyle"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="cluster-or-graph">
    <xsd:annotation>
      <xsd:documentation>The base class for clusters and graphs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
      <xsd:choice>
        <xsd:element name="node" type="dotml:node">
          <xsd:annotation>
            <xsd:documentation>A single node.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cluster" type="dotml:cluster">
          <xsd:annotation>
            <xsd:documentation>A rectangular cluster of nodes.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="sub-graph" type="dotml:sub-graph">
          <xsd:annotation>
            <xsd:documentation>A group of nodes with rank constraints.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="record" type="dotml:record-node">
          <xsd:annotation>
            <xsd:documentation>A record node.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="edge" type="dotml:edge">
          <xsd:annotation>
            <xsd:documentation>An edge.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="bgcolor" type="dotml:color"/>
    <xsd:attributeGroup ref="dotml:font-attributes"/>
    <xsd:attribute name="label" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="sub-graph">
    <xsd:annotation>
      <xsd:documentation>A group of nodes with rank constraints</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:choice>
        <xsd:element name="node" type="dotml:node">
          <xsd:annotation>
            <xsd:documentation>A node of the sub-graph</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="record" type="dotml:record-node">
          <xsd:annotation>
            <xsd:documentation>A record node of the sub-graph</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="rank" type="dotml:rank" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="node">
    <xsd:annotation>
      <xsd:documentation>Represents a single node in the graph.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="fixedsize" type="xsd:boolean"/>
    <xsd:attribute name="id" type="dotml:id" use="required"/>
    <xsd:attribute name="label" type="dotml:label"/>
    <xsd:attribute name="shape" type="dotml:shape"/>
    <xsd:attributeGroup ref="dotml:node-and-record-attributes"/>
  </xsd:complexType>
  <xsd:attributeGroup name="node-and-record-attributes">
    <xsd:annotation>
      <xsd:documentation>Attributes that are used both by records and by nodes.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="color" type="dotml:color"/>
    <xsd:attribute name="fillcolor" type="dotml:color"/>
    <xsd:attributeGroup ref="dotml:font-attributes"/>
    <xsd:attribute name="height" type="xsd:decimal"/>
    <xsd:attribute name="style" type="dotml:nodeStyle"/>
    <xsd:attribute name="width" type="xsd:decimal"/>
  </xsd:attributeGroup>
  <xsd:complexType name="record-node">
    <xsd:annotation>
      <xsd:documentation>The root element of a record.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="dotml:record">
        <xsd:attributeGroup ref="dotml:node-and-record-attributes"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="record">
    <xsd:annotation>
      <xsd:documentation>A record inside a record</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence maxOccurs="unbounded">
      <xsd:choice>
        <xsd:element name="node" type="dotml:node">
<!--
jn: must reallocate duplicate named anonymous declarations
          <xs:annotation>
            <xs:documentation>A node inside a record.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="id" type="dotml:id" use="required"/>
            <xs:attribute name="label" type="xs:string"/>
          </xs:complexType>
-->
        </xsd:element>
        <xsd:element name="record" type="dotml:record">
          <xsd:annotation>
            <xsd:documentation>A record inside a record.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="edge">
    <xsd:annotation>
      <xsd:documentation>Represents a single edge in the graph.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="arrowhead" type="dotml:arrow-type"/>
    <xsd:attribute name="arrowsize" type="xsd:decimal"/>
    <xsd:attribute name="arrowtail" type="dotml:arrow-type"/>
    <xsd:attribute name="color" type="dotml:color"/>
    <xsd:attribute name="constraint" type="xsd:boolean"/>
    <xsd:attribute name="decorate" type="xsd:boolean"/>
    <xsd:attribute name="dir" type="dotml:dir"/>
    <xsd:attributeGroup ref="dotml:font-attributes"/>
    <xsd:attribute name="from" type="dotml:id" use="required"/>
    <xsd:attribute name="headlabel" type="xsd:string"/>
    <xsd:attribute name="headport" type="dotml:node-port"/>
    <xsd:attribute name="label" type="dotml:label"/>
    <xsd:attribute name="labeldistance" type="xsd:decimal"/>
    <xsd:attribute name="labelfloat" type="xsd:boolean"/>
    <xsd:attribute name="labelfontcolor" type="dotml:color"/>
    <xsd:attribute name="labelfontname" type="xsd:string"/>
    <xsd:attribute name="labelfontsize" type="xsd:decimal"/>
    <xsd:attribute name="lhead" type="dotml:id"/>
    <xsd:attribute name="ltail" type="dotml:id"/>
    <xsd:attribute name="minlen" type="xsd:integer"/>
    <xsd:attribute name="style" type="dotml:edgeStyle"/>
    <xsd:attribute name="samehead" type="xsd:NCName"/>
    <xsd:attribute name="sametail" type="xsd:NCName"/>
    <xsd:attribute name="taillabel" type="xsd:string"/>
    <xsd:attribute name="tailport" type="dotml:node-port"/>
    <xsd:attribute name="to" type="dotml:id" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="shape">
    <xsd:annotation>
      <xsd:documentation>Possible node shapes.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="assembly"/>
      <xsd:enumeration value="box"/>
      <xsd:enumeration value="box3d"/>
      <xsd:enumeration value="cds"/>
      <xsd:enumeration value="circle"/>
      <xsd:enumeration value="component"/>
      <xsd:enumeration value="diamond"/>
      <xsd:enumeration value="doublecircle"/>
      <xsd:enumeration value="doubleoctagon"/>
      <xsd:enumeration value="egg"/>
      <xsd:enumeration value="ellipse"/>
      <xsd:enumeration value="fivepoverhang"/>
      <xsd:enumeration value="folder"/>
      <xsd:enumeration value="hexagon"/>
      <xsd:enumeration value="house"/>
      <xsd:enumeration value="insulator"/>
      <xsd:enumeration value="invhouse"/>
      <xsd:enumeration value="invtrapezium"/>
      <xsd:enumeration value="invtriangle"/>
      <xsd:enumeration value="larrow"/>
      <xsd:enumeration value="lpromoter"/>
      <xsd:enumeration value="Mcircle"/>
      <xsd:enumeration value="Mdiamond"/>
      <xsd:enumeration value="Msquare"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="note"/>
      <xsd:enumeration value="noverhang"/>
      <xsd:enumeration value="octagon"/>
      <xsd:enumeration value="oval"/>
      <xsd:enumeration value="parallelogram"/>
      <xsd:enumeration value="pentagon"/>
      <xsd:enumeration value="plain"/>
      <xsd:enumeration value="plaintext"/>
      <xsd:enumeration value="point"/>
      <xsd:enumeration value="polygon"/>
      <xsd:enumeration value="primersite"/>
      <xsd:enumeration value="promoter"/>
      <xsd:enumeration value="proteasesite"/>
      <xsd:enumeration value="proteinstab"/>
      <xsd:enumeration value="rarrow"/>
      <xsd:enumeration value="rect"/>
      <xsd:enumeration value="rectangle"/>
      <xsd:enumeration value="restrictionsite"/>
      <xsd:enumeration value="ribosite"/>
      <xsd:enumeration value="rnastab"/>
      <xsd:enumeration value="rpromoter"/>
      <xsd:enumeration value="septagon"/>
      <xsd:enumeration value="signature"/>
      <xsd:enumeration value="square"/>
      <xsd:enumeration value="star"/>
      <xsd:enumeration value="tab"/>
      <xsd:enumeration value="terminator"/>
      <xsd:enumeration value="threepoverhang"/>
      <xsd:enumeration value="trapezium"/>
      <xsd:enumeration value="triangle"/>
      <xsd:enumeration value="tripleoctagon"/>
      <xsd:enumeration value="underline"/>
      <xsd:enumeration value="utr"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:attributeGroup name="font-attributes">
    <xsd:annotation>
      <xsd:documentation>Common font attributes</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="fontname" type="xsd:string"/>
    <xsd:attribute name="fontsize" type="xsd:decimal"/>
    <xsd:attribute name="fontcolor" type="dotml:color"/>
  </xsd:attributeGroup>
  <xsd:simpleType name="label">
    <xsd:annotation>
      <xsd:documentation>The label attached to an object.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:simpleType name="id">
    <xsd:annotation>
      <xsd:documentation>The id of a node.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN"/>
  </xsd:simpleType>
  <xsd:simpleType name="color">
    <xsd:annotation>
      <xsd:documentation>A RGB color.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(#([a-f,A-F,0-9]{6}))|(#([a-f,A-F,0-9]{8}))|(\d+(\.\d+)?[, ]{2}\d+(\.\d+)?)|aliceblue|antiquewhite|aqua|aquamarine|azure|beige|bisque|black|blanchedalmond|blue|blueviolet|brown|burlywood|cadetblue|chartreuse|chocolate|coral|cornflowerblue|cornsilk|crimson|cyan|darkblue|darkcyan|darkgoldenrod|darkgray|darkgreen|darkgrey|darkkhaki|darkmagenta|darkolivegreen|darkorange|darkorchid|darkred|darksalmon|darkseagreen|darkslateblue|darkslategray|darkslategrey|darkturquoise|darkviolet|deeppink|deepskyblue|dimgray|dimgrey|dodgerblue|firebrick|floralwhite|forestgreen|fuchsia|gainsboro|ghostwhite|gold|goldenrod|gray|grey|green|greenyellow|honeydew|hotpink|indianred|indigo|ivory|khaki|lavender|lavenderblush|lawngreen|lemonchiffon|lightblue|lightcoral|lightcyan|lightgoldenrodyellow|lightgray|lightgreen|lightgrey|lightpink|lightsalmon|lightseagreen|lightskyblue|lightslategray|lightslategrey|lightsteelblue|lightyellow|lime|limegreen|linen|magenta|maroon|mediumaquamarine|mediumblue|mediumorchid|mediumpurple|mediumseagreen|mediumslateblue|mediumspringgreen|mediumturquoise|mediumvioletred|midnightblue|mintcream|mistyrose|moccasin|navajowhite|navy|oldlace|olive|olivedrab|orange|orangered|orchid|palegoldenrod|palegreen|paleturquoise|palevioletred|papayawhip|peachpuff|peru|pink|plum|powderblue|purple|red|rosybrown|royalblue|saddlebrown|salmon|sandybrown|seagreen|seashell|sienna|silver|skyblue|slateblue|slategray|slategrey|snow|springgreen|steelblue|tan|teal|thistle|tomato|turquoise|violet|wheat|white|whitesmoke|yellow|yellowgreen"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="rankdir">
    <xsd:annotation>
      <xsd:documentation>The general layout direction of the graph.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TB"/>
      <xsd:enumeration value="LR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="dir">
    <xsd:annotation>
      <xsd:documentation>The direction of edges.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="forward"/>
      <xsd:enumeration value="back"/>
      <xsd:enumeration value="both"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="rank">
    <xsd:annotation>
      <xsd:documentation>Rank types for sub-graphs</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="min"/>
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="max"/>
      <xsd:enumeration value="sink"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="arrow-type">
    <xsd:annotation>
      <xsd:documentation>Possible types for edge arrows.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="box"/>
      <xsd:enumeration value="crow"/>
      <xsd:enumeration value="diamond"/>
      <xsd:enumeration value="ediamond"/>
      <xsd:enumeration value="odiamond"/>
      <xsd:enumeration value="dot"/>
      <xsd:enumeration value="empty"/>
      <xsd:enumeration value="halfopen"/>
      <xsd:enumeration value="inv"/>
      <xsd:enumeration value="invdot"/>
      <xsd:enumeration value="invempty"/>
      <xsd:enumeration value="invodot"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="normal"/>
      <xsd:enumeration value="obox"/>
      <xsd:enumeration value="odiamond"/>
      <xsd:enumeration value="odot"/>
      <xsd:enumeration value="open"/>
      <xsd:enumeration value="tee"/>
      <xsd:enumeration value="vee"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="node-port">
    <xsd:annotation>
      <xsd:documentation>Port where an edge can atach to a node.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=":n"/>
      <xsd:enumeration value=":ne"/>
      <xsd:enumeration value=":e"/>
      <xsd:enumeration value=":se"/>
      <xsd:enumeration value=":s"/>
      <xsd:enumeration value=":sw"/>
      <xsd:enumeration value=":w"/>
      <xsd:enumeration value=":nw"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="point">
    <xsd:annotation>
      <xsd:documentation>Describes a x-y point.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d+(\.\d+)?,\d+(\.\d+)?"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ratio">
    <xsd:annotation>
      <xsd:documentation>The aspect ratio of a graph.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="fill"/>
      <xsd:pattern value="compress"/>
      <xsd:pattern value="\d+(\.\d+)*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="labelloc">
    <xsd:annotation>
      <xsd:documentation>The vertical cluster label location.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="t"/>
      <xsd:enumeration value="b"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="labeljust">
    <xsd:annotation>
      <xsd:documentation>The horizontal cluster label location.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="l"/>
      <xsd:enumeration value="r"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nodeStyle">
    <xsd:annotation>
      <xsd:documentation>The style of nodes or edges.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="solid"/>
      <xsd:enumeration value="dashed"/>
      <xsd:enumeration value="dotted"/>
      <xsd:enumeration value="invis"/>
      <xsd:enumeration value="bold"/>
      <xsd:enumeration value="filled"/>
      <xsd:enumeration value="rounded"/>
      <xsd:enumeration value="diagonals"/>
      <xsd:enumeration value="wedged"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="edgeStyle">
    <xsd:annotation>
      <xsd:documentation>The style of nodes or edges.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="dashed"/>
      <xsd:enumeration value="dotted"/>
      <xsd:enumeration value="solid"/>
      <xsd:enumeration value="invis"/>
      <xsd:enumeration value="bold"/>
      <xsd:enumeration value="filled"/>
      <xsd:enumeration value="tapered"/>
    </xsd:restriction>
  </xsd:simpleType> 
  <xsd:simpleType name="clusterStyle">
    <xsd:annotation>
      <xsd:documentation>The style of nodes or edges.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="dashed"/>
      <xsd:enumeration value="dotted"/>
      <xsd:enumeration value="solid"/>
      <xsd:enumeration value="invis"/>
      <xsd:enumeration value="bold"/>
      <xsd:enumeration value="filled"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
